torch~=2.0.1
diffusers~=0.19.3
Pillow~=9.4.0
invisible_watermark
transformers
accelerate
safetensors
opencv-python~=4.8.0.76
torchvision~=0.15.2
numpy~=1.24.2
requests~=2.30.0
google~=3.0.0